

body{
    background-image: url('../img/bg.jpg');
}
.hero{
    display: flex;
    background-image: url('../img/rubon5.png');
    width: 100%;
    height: 300px;
    align-items: center;
    color: #fff;
    box-shadow: rgb(86 157 0 / 40%) 0px 0px 0px 2000px inset;

}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 60px;
}

.hero-content h1{
    font-size: 14px;
}
.hero-content a, span{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
/*  */
.info-section {
    background-image: url('../img/bg.jpg');
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
    line-height: 1rem;
    align-items: center;
    padding: 40px 0;
}
.alll{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-section .container{
    width: 80%;
    background-color: #fff;
    padding: 20px;
    height: fit-content;
}

.info-section .container p{
    padding: 5px 0px;
}
.info-section .container h2{
    color: #549d00;
}

.project{
    display: flex;
    flex-direction: column;
    
}
.project h2{
    background-color: #549d00;
    color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

.projects-list{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: fit-content;
    padding: 10px;
}
.projects-list a{
    text-decoration: none;
    color: #549d00;
}

.projects-list a:hover{
    color: black;
    transition: 0.5s ease;
    scale: 1%;
}
.container h3{
    font-size: 16px;
}

/* MEATS */
.meats{
    background-image: url("../img/big_bg.jpg");
    background-size: cover;
    box-shadow: rgb(86 157 0 / 40%) 0px 0px 0px 2000px inset;
    display: flex;
    justify-content: center;
    align-items: center;padding: 40px 10px;
    z-index: -1;
}

.meats h2{
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin-bottom: 1rem;
}
.meats .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gridss{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
}

.typemeat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    width: fit-content;
    animation: fadein 0.5s ease-in-out ;
    border-radius: 10px;
    padding: 10px;
}

.typemeat img{
    width: 200px;
}
.typemeat a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 800;
}
.typemeat a:hover{
    color: #549d00;
}


@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(100px);

    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}

/* location */
.contact-address{
    display: flex;
    justify-content: center;
    align-items: center;
}
.colors{
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    justify-content: center;
    gap: 30px; 
    background-color: #fff;
    margin: 30px;
}
.colors h2{
    color: #549d00;
    font-size: 15px;
    margin-bottom: 30px;
}

.colors div{
    font-size: 11px;
    line-height: 0.7rem;
    margin-bottom: 10px;
}
.map{
    height: 10%;
}


@media (max-width:768px){
    .gridss{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: -20%;
    }
    .typemeat{
        width: 300px;
        height: 300px;
        padding: 30px;
    }

    .info-section img{
        width: 100%;
    }
}

@media (max-width:560px){
    .gridss{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .typemeat{
        width: 300px;
        height: 300px;
    }
    .colors{
        flex-direction: column;
        gap: 30px;
    }
    .info-section img{
        width: 100%;
    }
}