
/* GALLERY AND BLOGS ARE LINKED TO THE SAME CSS
BECARE FULL
*/

body{
    background-color: #fff;
}
.hero{
    display: flex;
    background-image: url('../gallery/2.jpg');
    width: 100%;
    height: 300px;
    align-items: center;
    background-size: cover;
    color: #fff;
    box-shadow: rgb(86 157 0 / 40%) 0px 0px 0px 2000px inset;

}
.blog{
    display: flex;
    background-image: url('../img/cow2.jpg');
    width: 100%;
    height: 300px;
    align-items: center;
    background-size: cover;
    color: #fff;
    box-shadow: rgb(86 157 0 / 40%) 0px 0px 0px 2000px inset;

}

.meats .container h2{
    color: #549d00;
    font-size: 13px;
}
.hero-content, .blog-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 60px;
}

.hero-content h1, .blog-content h1{
    font-size: 14px;
}
.hero-content a, span, .blog-content a, span{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}


/* MEATS */
.meats{
    /* background-image: url("../img/meat-bgs.jpeg"); */
    /* box-shadow: rgb(86 157 0 / 40%) 0px 0px 0px 2000px inset; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}

.meats h2{
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin-bottom: 1rem;
}
.meats .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .gridss {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        width: 80%;
        margin: auto;
    }
    
    .typemeat {
        position: relative;
        overflow: hidden;
    }
    
    .typemeat img {
        display: block;
        width: 100%;
        height: fit-content;
        transition: transform 0.3s ease-in-out;
    }
    
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 50%;
        text-decoration: none;
    }
    
    .typemeat:hover img {
        transform: scale(1.1);
        box-shadow: rgb(86 157 0 / 40%) 0px 0px 10px 2000px inset;
    }
    
    .typemeat:hover .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .overlay{
        color: #fff;
    }
    .overlay:hover{
        color: #549d00;
    }


    /* popup */
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .popup-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .popup img {
        max-width: 80%;
        max-height: 80%;
        border-radius: 10px;
    }
    
    .prev, .next{
        padding: 0%;
        font-size: 15px;

    }
    .popup .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
    
    .popup button {
        background: none;
        border: none;
        color: white;
        font-size: 40px;
        cursor: pointer;
        margin: 0 20px;
    }
    
    .popup button:hover {
        color: #ddd;
    }
    

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(100px);

    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}


@media (max-width:768px){
    .gridss{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:560px) {
    .gridss{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}